@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: normal;
	src: local('Droid Sans'), local('DroidSans'), url('DroidSans.woff') format('woff');
}
body {
	background-color: #000000;
	font-family: 'Droid Sans', sans-serif;
	@imght : 400px;
	div.container-fluid {
		padding:0px;
		section#intro {
			height: @imght;
			width:100%;
			position: fixed;
			background-image: url('../img/homepan.png');
			background-repeat: no-repeat;
			background-size: 100% 100%;
			div#logos , div#mainLinks {
				img.logo, a.mainLink {
					position:relative;
					top:40px;
					left:150px;
					padding:10px;
				}
				a.mainLink {
					font-size: 22px;
					text-align: right;
					font-weight: 300;
					color:#efefef;
					top: -30px;
					left: 500px;
				}
			}
		}
		section#content {
			position: relative;
			top: @imght;
			background-color: #111;
			padding-bottom: 50px;
			h2, h3 {
				color: rgb(241,241,235);
				text-align: center;
				margin:10px 0 20px 0;
			}
			h2 {
				text-transform: uppercase;
			}
			h4 {
				color: rgb(241,241,235);
			}
			p {
				font-family: 'Droid Sans', sans-serif;
				font-size: 14px;
				color:#F1F1EB;
			}
			a {
				color: #08C;
				text-decoration: none;
			}
			ul, span {
				color:#F1F1EB;
			}
			div.article {
				color: #222;
				font-size: 14px;
				border-radius: 2px;
				margin-top: 20px;
				padding: 0 0 10px 0;
				position: relative;
				cursor: pointer;
				box-shadow: inset 0 0 5px #555555;
				background-image: url('../img/bg_texture.jpg');
				&:hover {
					box-shadow: inset 0 0 7px #555555;
				}
				span.artTitle {
					font-size: 18px;
					display:block;
					margin:15px 0 25px;
					text-align: center;
				}
				img.artImage {
					width:280px;
					border-radius:20px;
					padding:10px;
				}
				p {
					text-align:left;
					padding:10px;
					color:#333;
				}
			}
			div.row {
				margin-top:30px;
			}
			div#cars {
				div.carousel-caption {
					background:rgba(0, 0, 0, 0.5);
				}
			}
			div#aboutUs {
			}
			div#social {
				padding: 20px 0 40px 0;
				height:120px;
				a {
					display: block;
					width: 100px;
					float: left;
					text-align: center;
				}
				img {
					width: 24px;
					height: 24px;
					margin-bottom: 3px;
					vertical-align: middle;
				}
			}
		}
		section#footer {
			position: relative;
			top: @imght;
			background-color: #efefef;
			min-height:300px;
			padding: 100px 0px;
			h3 {
				margin-bottom: 25px;
			}
			ul {
				margin-left:0px;
				li {
					list-style: none;
					font-size:16px;
					text-decoration: none;
					line-height: 30px;
				}
				a {
					color: #333;
				}
			}
			address {
				font-family: 'Droid Sans', sans-serif;
				font-size: 16px;
				line-height: 24px;
			}
			div.contact {
				margin-top:50px;
			}
		}
	}
}
