@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('DroidSans.woff') format('woff');
}

body {

	background-color: rgb(34,34,34);
	color: rgb(241,241,235);
	font-family: 'Droid Sans', sans-serif;

	@imght : 500px;

	div.container-fluid {
		padding:0px;

		section#intro {
			height: @imght;
			width:100%;
			z-index:-1;
			position: fixed;
			background-image: url('../img/homepan.png');
			background-repeat: no-repeat;
			background-size: 100% 100%;

			div#logos , div#mainLinks {
			
				img.logo, a.mainLink {
					position:relative;
					top:40px;
					left:150px;
					padding:10px;
				}
			
				a.mainLink {
					font-size: 22px;
					text-align: right;
					font-weight: 300;
					color:#efefef;
					top: -30px;
					left: 500px;
				}
			
			}


		}
	
		section#content {
			position: relative;
			top:@imght;
			margin:10px solid #efefef;
			min-height: 500px;
			width:100%;
		}

	}
	
	
}
