---
layout: index
title: Teamunwired
---

<section id="content">
	<div class="container" id="aero">

		<div class="row"> <!-- Row 1 -->

			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<ul class="nav">
							<li><a href="#Aero">SAE Aero</a></li>
							<li><a href="#objectives">Design Objectives</a></li>
							<li><a href="#download">Download the brochure</a></li>
						</ul>
						<ul class="nav pull-right">
							<li class="active" id="tuwTitle">
								<a class="brand" href="#aero">
									SAE Aero
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="span12" id="Aero"> <!-- Main col -->
				{% include aero.ext %}
			</div>

		</div> <!-- / Row 1-->

		<div class="row" id="objectives"> <!-- Row 2 -->
			<div class="span12"> <!-- Main col -->
				{% include aero_objectives.ext %}
			</div>
		</div> <!-- / Row 2-->

		<div class="row" id="download"> <!-- Row 2 -->
			<div class="span12"> <!-- Main col -->
				<a href="content/Brochure_TeamUnwired_SAEAeroDesignEast2013.pdf" download="brochure.pdf">Download the brochure here</a>
			</div>
		</div> <!-- / Row 2-->

	</div> <!-- / Container -->
</section>
