---
layout: index
title: Teamunwired
---

<section id="content">
	<div class="container" id="baja">
		<h2 id="">Teamunwired at BAJA SAE INDIA</h2>
		<div class="row"> <!-- Row 1 -->
			<div class="span12"> <!-- Main col -->
				{% include bajadesc.ext %}
			</div>
		</div> <!-- / Row 1-->

		<div class="row"> <!-- Row 2 -->
				<div class="span6">
					{% include unwind1.0.ext %}
				</div>
				<div class="span6">
					<img class="" src="img/cars/2.jpg"> 
				</div>
		</div> <!-- / Row 2-->

		<div class="row"> <!-- Row 3 -->
				<div class="span6">
					<img class="" src="img/cars/3.jpg"> 
				</div>
				<div class="span6">
					{% include unwind2.0.ext %}
				</div>
		</div> <!-- / Row 3-->
	</div> <!-- / Container -->
</section>

