---
layout: index
title: Teamunwired
---

<section id="content">
	<div class="container" id="fsae">
		<h2 id="">Teamunwired FSAE </h2>
		<div class="row"> <!-- Row 1 -->
			<div class="span12"> <!-- Main col -->
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<ul class="nav">
								<li><a href="#fsae">Formuala Student</a></li>
								<li><a href="#venues">Venues</a></li>
								<li><a href="#events">Events in FS-UK</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- / Row 1-->
		<div class="row"> <!-- Row 2 -->
			<div class="span12"> <!-- Main col -->
				<div id="fase">
					<img src="img/fsae/fsaebanner.png" alt="FSAE Banner" />
					<div class="row">
						<div class="span7"> <!-- Col 1 -->
							{% include fsae.ext %}
						</div> <!-- / Col 1 -->
						<div class="span5"> <!-- Col 2 -->
							{% include fsaeCars.ext %}
						</div> <!-- / Col 2 -->
					</div>
				</div>
				<div id="venues">
					<h2>Venues</h2>
					{% include venues.ext %}
					<a href="http://rennteam-stuttgart.de/index.php?id=56&L=2">
						<img src="img/fsae/map.png" alt="map"/>
					</a>
				</div>
				<div id="events">
					<h2>Events</h2>
					{% include events.ext %}
				</div>
			</div>
		</div> <!-- / Row 2-->
	</div> <!-- / Container -->
</section>
