---
layout: index
title: Teamunwired
---

	<section id="content">
		<div class="container">
			<h2 id="">THIS IS WHAT WE HAVE BEEN UPTO</h2>
			<div class="row"> <!-- Row 1 -->
				<div class="span4"> <!-- Col 1 -->
					{% include aboutus.ext %}
					{% include cars.ext %}
					</div>
				</div> <!-- / Col 1 -->
				<div class="span4"> <!-- Col 2 -->
					<div class="article">
						<span class="artTitle">FooBar</span>
						<p>FooBar</p>
					</div>
				</div> <!-- / Col 2 -->
				<div class="span4"> <!-- Col 3 -->
					{% include social.ext %}
				</div> <!-- / Col 3 -->
			</div> <!-- / Row 1 -->
	</section>

