<!DOCTYPE html>
<html>
<head>
	{% include head.ext %}
</head>
<body>
<div class="container-fluid">
	{% include banner.ext %}
	{{ content }}
	{% include sponsorWall.ext %}
	{% include footer.ext %}
</div>
<script type="text/javascript" src="js/teamunwired.min.js"></script>
<script type="text/javascript" src="js/jquery.accordion.js"></script>
<script type="text/javascript">
	$(function() {
		$('div.teamList').accordion();
		$('div.teamList a')
			.mouseover (function() { $(this).animate({'padding-left':'10px'}, 200, '', function(){} ) } )
			.mouseout (function() { $(this).animate({'padding-left':'0px'}, 100, '', function(){} ) } );
	});
</script>

{% include less.ext %}
</body>
</html>
